gradio
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
chromadb
sentence-transformers
easyocr
python-dotenv
pydantic
pypdf
opencv-python
fastapi
uvicorn
python-multipart